doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.28d4a87b0977a07cf602.css')
    script(type='text/javascript', src="/js/main.28d4a87b0977a07cf602.js")

  body
    block content
